@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

p{
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}
h1, h2{
    color: hsl(223, 47%, 23%);
}
body{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-size: 100%;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    background-color: hsl(225, 100%, 98%);
    max-width: 400px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.card > img{
    width: 100%;
}

.card > h1, .card > p{
    margin-top: 20px;
}

.opcao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    background-color: hsla(224, 23%, 55%, 0.075);
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

.opcao__plano{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}
.opcao__plano_anual{
    margin-left: 20px;
} 
.opcao__plano_anual > h2{
    font-size: 16px;
    font-weight: bolder;
} 

a:hover{
    text-decoration: none;
    color: hsl(245, 73%, 71%);
}
.pagamento{
    width: 85%;
    background-color: hsl(245, 75%, 52%);
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
}

.pagamento:hover{
    background-color: hsl(245, 73%, 71%);
}

.pagamento > p{
    color: white;
    font-weight: bolder;
}

.cancelamento{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}

.cancelamento:hover{
    color: hsl(223, 47%, 23%);
}

@media (max-width: 700px){
    body{
        background-image: url(images/pattern-background-mobile.svg);
    }
    .card{
        margin: 50px 20px;
    }
}

@media (max-width: 320px){
    .opcao{
        flex-direction: column;
    }
}